* {
    box-sizing: border-box;
}

/* Element Selectors */
header {
    background: rgba(9, 9, 9, 0.8);
    color: white;
    margin: 7px;
    padding: 12px;
    text-align: center;
}

h1 {
padding: 10px;
border: 1px blue;
}

body {
background-color: grey;
}

nav {
    display: flex;

}

a {
    display: flex;
    flex: wrap;
    font-size: larger;
    padding: 12px;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: aliceblue;
    color: blue;
}

.section {
    margin-bottom: 20px;
    padding: 19px;
    height:fit-content;
    background-color: rgba(0, 0, 0, 0.696);
    color: white;
}

.personalPic {
    display: flex;
    max-height: 200px;
    border-radius: 50%;
    float: right;
}

/* .pic {
    display: flex;
    max-height: max-content;
} */

.block  {
    display: block;
}

.backgroundIMG {
    background: url(../chal2-Dustin-s-Portfolio/images/background.JPG) no-repeat fixed 50%;
    background-size: cover;
    height: 100vh;
}

/*  <<TEST BACKGROUND OPACITY>>
    .backgroundIMG::after {
    content="";
    opacity: 0.5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
} 
*/